html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #20021e; 
}

a {
  color: #d10050;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: rgb(221, 152, 25);}
 

.section-2 {
	background-color: #441e3c;
    
}


.section-3 {
	background-color: #0e2e23;
    
}



.section-4 {
	background-color: #e99700;
	padding: 0.2rem;
    
}
/* Navbar styles */
header{
    background-color: white;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
nav li {
    display: inline;
    margin-right: 50px;
    font-size: 30px;

}
nav a {
    color: white;
    text-decoration: none;

}
/* Add hover effect */
/* Add this CSS code to your existing style.css file */
nav ul li a {
    color: orange;
    text-decoration: none;
    transition: color yellow;
}
nav ul li a:hover {
    color: white;
}
 /* Hero section styles */
 .hero {
    background-image: linear-gradient(orange);
    text-align: center;
    padding: 100px;
    text-decoration: none;
 }
 
/* About section styles */
.about-me {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5; /* Adjust the line height for better readability */
    color: #333;/*change the text color */
    background-color: rgb(184, 133, 40);
    /* Add a background color to the paragraph */
    padding: 10px;
    border: 1px solid peru; /*Add a border around the paragraph*/

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;

}

li a {
    text-decoration: none;
    color: orange;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: darkorange;
    color: rgb(255, 255, 255);
}

li a:visited {
    color: rgb(224, 184, 109);
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    margin-bottom: 20px;
}
/* projects section */
.project-section {
    display: flex;
    justify-content: space-between;
}

.project-card {
    width: 30%;
    background-color: rgb(63, 59, 52);
    padding: 20px;
    border-radius: 5px;
    border: 2px; /* Add a border with white color */
    box-sizing: border-box;/* include the border in the card's dimensions */
}

.project-card h3 {
    color: goldenrod;
}

.project-card p {
    color: black;
    margin-top: 10px;
}

/* contact section */
.contact-section {
    text-align: center;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

/* contact */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 238, 0);
}
/* contact */
/* styling get in touch */
body {
    color: rgb(81, 255, 0);
    justify-content: center;
    align-items: center;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(240, 119, 6);
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-group input [type="submit"] {
    background-color: aqua;
    color: #fff;
    cursor: pointer;

}
.form-group input [type="submit"] :hover{
    background-color: rgb(226, 223, 43);
}

.form-group textarea{
    height: 120px;
    justify-content: center;
    
    display: flex;
}
.footer p {
    font-size: 1.6rem;
    text-align: center;
    color: chocolate;
}



